<div id="encabezado" class="center-align">
    <h1>¡Hola {{destino}}! </h1>
    <app-fechaactual></app-fechaactual>
    <hr>
    <app-viewmodelos></app-viewmodelos>
    <hr>
    <app-ejmetodo></app-ejmetodo>
    <hr>
    <app-ejpropertybinding></app-ejpropertybinding>
    <hr>
    <app-ejeventbinding></app-ejeventbinding>
    <hr>
    <app-ej2waybinding></app-ej2waybinding>
    <hr>
    <h3>Ejemplo de directiva "NGIF"</h3>
    <app-ejemplo-directiva-enngif></app-ejemplo-directiva-enngif>
    <hr>
    <app-ejemplo-directiva-ngsstyle></app-ejemplo-directiva-ngsstyle>
    <hr>
    <app-ej-directiva-ngclass></app-ej-directiva-ngclass>
    <hr>
    <app-ejemplo-directuvaiva-egfor></app-ejemplo-directuvaiva-egfor>
    <hr>
    <app-arreglo-objetos></app-arreglo-objetos>
    <hr>
    <app-ejemplo-directiva-ngswitch></app-ejemplo-directiva-ngswitch>
    <hr>
    <app-ejemplo-directivas-custom></app-ejemplo-directivas-custom>
    <hr>
    <app-padre></app-padre>
    <hr>
    <app-copyright></app-copyright>
    <hr>
</div>